if BOARD_HUANANZHI_QD4

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_16384
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select NORTHBRIDGE_INTEL_HASWELL
	select SERIRQ_CONTINUOUS_MODE
	select SOUTHBRIDGE_INTEL_LYNXPOINT

config MAINBOARD_DIR
	string
	default "huananzhi/QD4"

config MAINBOARD_PART_NUMBER
	string
	default ""

config USBDEBUG_HCD_INDEX # FIXME: check this
	int
	default 2
endif
