## SPDX-License-Identifier: GPL-2.0-only

if VENDOR_HUANANZHI

choice
	prompt "Mainboard model"

source "src/mainboard/huananzhi/*/Kconfig.name"

endchoice

source "src/mainboard/huananzhi/*/Kconfig"

config MAINBOARD_VENDOR
	string
	default "HUANANZHI"

endif # VENDOR_HUANANZHI
